<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.kea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Alphabetsa" />
        <activity android:name=".Alphabetsb" />
        <activity android:name=".Alphabetsc" />
        <activity android:name=".Alphabetsd" />
        <activity android:name=".Alphabetse" />
        <activity android:name=".Alphabetsf" />
        <activity android:name=".Alphabetsg" />
        <activity android:name=".Alphabetsh" />
        <activity android:name=".Alphabetsi" />
        <activity android:name=".Alphabetsj" />
        <activity android:name=".Alphabetsk" />
        <activity android:name=".Alphabetsl" />
        <activity android:name=".Alphabetsm" />
        <activity android:name=".Alphabetsn" />
        <activity android:name=".Alphabetso" />
        <activity android:name=".Alphabetsp" />
        <activity android:name=".Alphabetsq" />
        <activity android:name=".Alphabetsr" />
        <activity android:name=".Alphabetss" />
        <activity android:name=".Alphabetst" />
        <activity android:name=".Alphabetsu" />
        <activity android:name=".Alphabetsv" />
        <activity android:name=".Home" />
        <activity android:name=".Alphabetsw" />
        <activity android:name=".Alphabetsx" />
        <activity android:name=".Alphabetsy" />
        <activity android:name=".Alphabetsz" />
        <activity android:name=".Colourblack" />
        <activity android:name=".Colourblue" />
        <activity android:name=".Colourgreen" />
        <activity android:name=".Colourbrown" />
        <activity android:name=".Colourred" />
        <activity android:name=".Colourpurple" />
        <activity android:name=".Colourpink" />
        <activity android:name=".Colourorange" />
        <activity android:name=".Colourwhite" />
        <activity android:name=".Colouryellow" />
        <activity android:name=".Daysmonday" />
        <activity android:name=".Daystuesday" />
        <activity android:name=".Dayswednesday" />
        <activity android:name=".Daysthursday" />
        <activity android:name=".Daysfriday" />
        <activity android:name=".Dayssaturday" />
        <activity android:name=".Dayssunday" />
        <activity android:name=".Shapescircle" />
        <activity android:name=".Shapesoval" />
        <activity android:name=".Shapesrectangle" />
        <activity android:name=".Shapestriangle" />
        <activity android:name=".Shapesstar" />
        <activity android:name=".Shapessquare" />
        <activity android:name=".Number0" />
        <activity android:name=".Number1" />
        <activity android:name=".Number2" />
        <activity android:name=".Number3" />
        <activity android:name=".Number4" />
        <activity android:name=".Number5" />
        <activity android:name=".Number6" />
        <activity android:name=".Number7" />
        <activity android:name=".Number8" />
        <activity android:name=".Number9" />
        <activity android:name=".Monthsjanuary" />
        <activity android:name=".Monthsfebruary" />
        <activity android:name=".Monthsmarch" />
        <activity android:name=".Monthsapril" />
        <activity android:name=".Monthsmay" />
        <activity android:name=".Monthsjune" />
        <activity android:name=".Monthsjuly" />
        <activity android:name=".Monthsaugust" />
        <activity android:name=".Monthsseptember" />
        <activity android:name=".Monthsoctober" />
        <activity android:name=".Monthsnovember" />
        <activity android:name=".Monthsdecember" />
        <activity android:name=".Video0" />
        <activity android:name=".Video1" />
        <activity android:name=".Video2" />
        <activity android:name=".Video3" />
        <activity android:name=".Video4" />
        <activity android:name=".Video5" />
        <activity android:name=".Video6" />
        <activity android:name=".Video7" />
        <activity android:name=".Video8" />
        <activity android:name=".Video9" />
        <activity android:name=".Videocircle" />
        <activity android:name=".Videooval" />
        <activity android:name=".Videorectangle" />
        <activity android:name=".Videosquare" />
        <activity android:name=".Videostar" />
        <activity android:name=".Videotriangle" />
        <activity android:name=".Videoa" />
        <activity android:name=".Videob" />
        <activity android:name=".Videoc" />
        <activity android:name=".Videod" />
        <activity android:name=".Videoe" />
        <activity android:name=".Videof" />
        <activity android:name=".Videog" />
        <activity android:name=".Videoh" />
        <activity android:name=".Videoi" />
        <activity android:name=".Videoj" />
        <activity android:name=".Videok" />
        <activity android:name=".Videol" />
        <activity android:name=".Videom" />
        <activity android:name=".Videon" />
        <activity android:name=".Videoo" />
        <activity android:name=".Videop" />
        <activity android:name=".Videoq" />
        <activity android:name=".Videor" />
        <activity android:name=".Videos" />
        <activity android:name=".Videot" />
        <activity android:name=".Videou" />
        <activity android:name=".Videov" />
        <activity android:name=".Videow" />
        <activity android:name=".Videox" />
        <activity android:name=".Videoy" />
        <activity android:name=".Videoz" />
    </application>

</manifest>